* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #1b1b1b;
    color: #f5f5f5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #b91c1c;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    margin-left: 25px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #b91c1c;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav a:hover::after {
    width: 100%;
}

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 1.5s ease;
}

.hero h1 {
    font-size: 52px;
}

.hero span {
    color: #b91c1c;
}

.hero p {
    margin-top: 15px;
    opacity: 0.85;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 35px;
    background: #b91c1c;
    color: #111;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #b91c1c;
}

.section {
    padding: 80px 60px;
    animation: slideUp 1s ease;
}

.section h1 {
    margin-bottom: 40px;
    color: #b91c1c;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.card {
    background: #111;
    padding: 30px;
    border-radius: 20px;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-12px);
    background: #1f1f1f;
}

.card h3 {
    margin-bottom: 10px;
    color: #b91c1c;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.menu-card {
    background: #111;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    animation: fadeIn 1s ease;
}

.menu-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: 0.4s;
}

.menu-card:hover img {
    transform: scale(1.1);
}

.menu-info {
    padding: 20px;
}

.menu-info h3 {
    color: #b91c1c;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #b91c1c;
    margin-top: 10px;
}


form {
    max-width: 500px;
    margin: auto;
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #b91c1c;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 25px;
    background: #111;
    margin-top: 60px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

